.app {
  background-color: #2928425e;
  /* height: 100vh; */
  
}

.app__body {
  background-color: #2928426b;
  /* opacity: 0.5;
  backface-visibility: 0.5; */
  display: flex;
}

.app__feed {
  overflow-y: scrool;
  overflow-x: hidden;
}
